body {
  background-color: white;
  font-family: "Assistant", sans-serif;
  color: #071C4D;
}

.navbar-brand img {
  max-height: 40px;
}

.btn-navbar-right {
  margin-top: -10px !important;
  height: 70px;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  border-radius: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #071C4D;
}
.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #071C4D !important;
}

.btn-login {
  background-color: #071C4D;
  color: #fff;
}
.btn-login:hover {
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
}
header h1,
header p {
  color: #fff;
}
header h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
header p {
  font-size: 22px;
}
header .btn-get-started {
  background-color: #FF9E53;
  color: #fff;
}
header .btn-get-started:hover {
  background-color: #FFAA69;
  color: #fff;
}

.section-stats {
  margin-top: -50px;
}
.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #fff;
  padding-left: 40px;
}
.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}
.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
}
.section-popular .section-popular-heading {
  margin-top: 150px;
}
.section-popular .section-popular-heading h2,
.section-popular .section-popular-heading p {
  color: #fff;
}
.section-popular .section-popular-heading h2 {
  font-family: "Playfair Display" serif;
  font-weight: bold;
  font-size: 40px;
}
.section-popular .section-popular-heading p {
  font-size: 18px;
}

.section-popular-content .section-popular-travel .card-travel {
  min-height: 380px;
  background: #fff;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}
.section-popular-content .section-popular-travel .card-travel .travel-country {
  font-size: 18px;
  color: #000;
}
.section-popular-content .section-popular-travel .card-travel .travel-location {
  font-size: 26px;
  color: #000;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details {
  background-color: #FF9E53;
  color: #fff;
}
.section-popular-content .section-popular-travel .card-travel .travel-button .btn-travel-details:hover {
  color: #fff;
}

.section-network {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
}
.section-network h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
}
.section-network p {
  font-size: 18px;
}
.section-network img {
  max-width: 100%;
}

.section-testimonal-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}
.section-testimonal-heading h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #071c4d;
}
.section-testimonal-heading p {
  font-family: Assistant;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #071c4d;
}

.section-testimonial-content {
  margin-top: -300px;
  margin-bottom: 50px;
}
.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}
.section-testimonial-content .testimonial-content {
  min-height: 380px;
}
.section-testimonial-content h3 {
  font-family: Assistant;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #071c4d;
}
.section-testimonial-content .testimonial {
  font-family: Assistant;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  color: #6e6e6e;
  min-height: 160px;
}
.section-testimonial-content .trip-to {
  font-family: Assistant;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  color: #6e6e6e;
}
.section-testimonial-content hr {
  margin-left: -20px;
  margin-right: -20px;
}

.btn-get-started {
  background-color: #FF9E53;
  color: #fff;
}
.btn-get-started:hover {
  background-color: #FFAA69;
  color: #fff;
}

.btn-need-help {
  background-color: #F2F2F2;
  color: #C3C3C3;
}
.btn-need-help:hover {
  background-color: #eceaea;
  color: #fff;
}

.section-footer a {
  color: #071C4D;
}

.section-detail-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -70px;
}

.section-detail-content {
  margin-top: -210px;
  min-height: 100vh;
}
.section-detail-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}
.section-detail-content .breadcrumb-item.active {
  font-weight: bold;
  color: #071C4D;
}

.card-detail {
  padding: 30px;
  border-radius: 11px;
}
.card-detail .trip-informasi th {
  font-weight: 300;
  font-size: 18px;
  color: #071c4d;
}
.card-detail .trip-informasi td {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}
.card-detail .trip-informasi .text-blue {
  color: #071C4D;
  font-weight: bold;
}
.card-detail .trip-informasi .text-yellow {
  color: #FF9E53;
  font-weight: bold;
}
.card-detail .payment-ints {
  font-weight: 300;
  font-size: 14px;
  color: #B1B1B1;
}
.card-detail .disclaimer {
  font-family: Assistant;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  color: #b1b1b1;
}
.card-detail .gj-datepicker .datepicker {
  border-right: 0;
}
.card-detail .input-group-append .btn {
  margin-right: 30px;
}
.card-detail h1 {
  font-size: 26px;
}
.card-detail h2 {
  font-size: 20px;
}
.card-detail p {
  font-size: 18px;
  color: #b1b1b1;
}
.card-detail h3 {
  font-family: Assistant;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  color: #071c4d;
}
.card-detail .bank .bank-item h3 {
  font-weight: normal;
  font-size: 16px;
  color: #071c4d;
  margin-bottom: 0;
}
.card-detail .bank .bank-item p {
  margin-bottom: 0;
}
.card-detail .bank .bank-item .deskripsi {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.card-detail .bank .bank-item .deskripsi p {
  font-weight: normal;
  font-size: 16px;
  color: #071C4D;
}
.card-detail .bank .bank-image {
  width: 45;
  height: 45;
  float: left;
}

.btn-add-now {
  background-color: #071C4D;
  color: #fff;
}
.btn-add-now:hover {
  background-color: #1B3B86;
  color: #fff;
}

.card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.features {
  margin-top: 20px;
}
.features h3 {
  font-size: 18px;
  color: #071C4D;
  margin-bottom: 0;
}
.features p {
  margin-bottom: 0;
}
.features .deskripsi {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.features .feature-image {
  width: 45px;
  height: 45px;
  float: left;
}

.gallery .xzoom-container {
  display: block;
}
.gallery .xzoom-container .xzoom {
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
}
.gallery .xzoom-container .xactive {
  border: 2px solid #1abc9c;
  box-shadow: none;
}

.member .member-image {
  width: 40px;
  height: 40px;
}

.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: #FF9E53;
  color: #fff;
  border-radius: 0;
}
.btn-join-now:hover {
  background-color: #FFB57C;
  color: #fff;
}

.section-success {
  height: 90vh;
}
.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #071c4d;
}
.section-success p {
  font-weight: 300;
  font-size: 18px;
  color: #b1b1b1;
}
.section-success .btn-home-page {
  border-radius: 4px;
  background: #071c4d;
  color: #fff;
}
.section-success .btn-home-page:hover {
  background: #1B3B86;
  color: #fff;
}/*# sourceMappingURL=main.css.map */